#outer {
  height: 50px;
  width: 900px;
  border: 2px solid lightseagreen;
  background-color: pink;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.inner {
  height: 50px;
  width: 80px;
  font-size: 24px;
  line-height: 50px;
  margin-left: 5px;
}