#outer {
  height: 400px;
  width: 400px;
  border: 2px solid lightseagreen;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.inner {
  height: 100px;
  width: 100px;
  border:2px solid black;
  border-radius: 10px;
  background-color: grey;
  text-align: center;
  font-size: 50px;
}